include ../mixins/ban.pug
include ../mixins/settings.pug

mixin modal(data)
	.modal-bg(style=data.hidden?'display:none':'')
	.modal(id=(data.settings ? 'settingsmodal' : '') style=data.hidden?'display:none':'')
		.row
			p.bold #{data.title}
			a.close.postform-style#modalclose ×
		if data.bans
			h1.board-title #{__('Banned!')}
			.row#modalbanned
				- const bans = data.bans;
				include ../includes/banform.pug
		if data.message || data.messages || data.error || data.errors
			.row
				ul.nomarks
					if data.message
						li #{data.message}
					if data.error
						li #{data.error}
					if data.messages
						each msg in data.messages
							li #{msg}
					if data.errors
						each error in data.errors
							li #{error}
		if data.frame
			.row.f1
				iframe.bypass#modalframe(src=data.frame frameborder='0' scrolling='no')
		else if data.link
			.row
				a.button.mv-0(href=data.link.href target='_blank') #{data.link.text}
		else if data.redirect && data.title === __('Success')
			.row
				a.button.mv-0(href=data.redirect) #{__('OK')}
		else if data.settings
			.sm#settings-tab-1
				.sm#settings-tab-2
					.sm#settings-tab-3
						.sm#settings-tab-4
							.sm#settings-tab-5
								.sm#settings-tab-6
									+settings(data)
